*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}


.wrapper h1 {
    color: white;
    font-size: 5.5vw;
    position: absolute;
    left: 35.5%;
    transform: translateX(-50%);
}

.header-ani {
    background: linear-gradient(90deg, rgba(87,67,241,1) 0%, rgba(255,27,63,1) 33%, rgba(78,255,0,1) 73%, rgba(87,67,241,1) 100%);
    background-clip: text;
    background-size: 200%;
    background-position: 390px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3.5s linear infinite;
    position: absolute;
    margin-left: 20px;
}

@keyframes gradient-animation {
    from {
        background-position: -200%;
    }
    to {
        background-position: 0;
    }
}

/* blob stuff */
.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(53, 53, 53);
    overflow: hidden;
}

.overlay {
    border: 6px solid red;
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    z-index: 1;
}

.blob {
    background: linear-gradient(90deg, rgb(89, 0, 255) 10%, rgb(89, 255, 0) 82%);
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: 66%;
    border-radius: 100vw;
    animation: rotate-blob 90s linear infinite, fade-blob 3.9s ease;
    filter: blur(150px);
}


@keyframes rotate-blob {
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes fade-blob {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 100}
}


@keyframes rotate-loader {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

@media (max-width: 1000px) {
    .wrapper h1 {
        font-size: 7vw;
    }
    .blob {
        width: 350px;
        height: 350px;
        bottom: 75%;
        filter: blur(120px)
    }
}